{% extends 'ADMIN/navbar.html' %}

{% block body %}




<body>
    

    <div class="card">
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table">

                <h1 class="text-center">Exams</h1>
                <input type="date" class="d-flex inline-input mb-1">
                <input type="search" class="d-flex inline-input mb-1">
                <thead>
                    <tr>
                        <th>Si No:</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>No of Students</th>
                        <th>duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2nd internal</td>
                        <td>maths</td>
                        <td>april,21,2024</td>
                        <td>11:00 am</td>
                        <td>2</td>
                        <td>1</td>
                        <td>
                            <a href="" class="btn btn-sm btn-primary">Edit</a>
                            <a href="" class="btn btn-sm btn-primary">Add</a>
                            <a href="" class="btn btn-sm btn-secondary">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  {% endblock %}
