<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />

</head>

<body>
    <div class="navbar navbar-secondary">
        <div class="nav">
            <div class="title">Exam Seater</div>
            <ul>
                <li><a class="nav-link " href="REPORT.html">Report</a></li>
                <li><a class="nav-link" href="addclass.html">Add Class</a></li>
                <li><a class="nav-link" href="manageclass.html">Manage Class</a></li>
                <li><a class="nav-link " href="exam.html">Add Exam</a></li>
                <li><a class="nav-link " href="allocatestaff.html">Allocate Staff</a></li>

                <li>
                    <a href="" class="btn btn-sm btn-primary">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="container mt-5">
            <div class="list lines ">
                <div class="d-flex inline-input mb-1">
                    <input type="text" placeholder="Branch" class="form-control">
                    <input type="text" placeholder="Semester" class="form-control">
                    <div class="d-flex justify-between">
                        <button class="btn btn-primary">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ids:</th>
                            <th>Semester</th>
                            <th>Branch</th>
                            <th>Subject</th>
                            <th>Subject Code.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Semester1</td>
                            <td>Computer Science</td>
                            <td>Maths</td>
                            <td>MA01</td>
                            <td>
                                <a href="" class="btn btn-sm btn-primary">Edit</a>
                                <a href="" class="btn btn-sm btn-secondary">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="d-flex center-item ">
        <button class="btn btn-primary mt-5">Add Subjects</button>
    </div>
</body>

</html>