{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <title>ADD CLASSROOMs</title>
    
</head>
<body>
    <div class="center-item wh-100 mt-5">
        <div class="form-container2">
            <div class="card">
                <h1>Add ClassRooms</h1>

                <div class="list lines ">
                    <div class="d-flex inline-input mb-1">
                        <input type="number" placeholder="Branch" class="form-control" />
                        <input type="text" placeholder="Staff ID" class="form-control" />
                        <input type="text" placeholder="Name" class="form-control" />
                        <input type="email" placeholder="Email" class="form-control"/>
                    </div>
                </div>

                <div class="list lines mb-1">
                    <div class="d-flex inline-input mb-1">
                        <input type="number" placeholder="Branch" class="form-control" />
                        <input type="text" placeholder="Staff ID" class="form-control" />
                        <input type="text" placeholder="Name" class="form-control" />
                        <input type="email" placeholder="Email" class="form-control"/>
                    </div>
                </div>

                      </div>
              <div class="newdiv"></div>
              <button type="button" class="add" id="add">add more classrooms</button>

            </div>
            <input type="submit" value="submit" class="allocate">
        </form>
        <!-- ends -->
    </div>
    </div>
           <script src="#"></script>
     <script>
function addNewRow() {
    const container = document.querySelector('.divrow'); // Select the container for existing rows
    const newFilterInput = document.createElement('div'); // Create a new filter input div
    newFilterInput.classList.add('filter-input');
    newFilterInput.innerHTML = `
               <div class="classroom">
                    <label for="class_name">Class name:<input type="text" id="hallno" name="hallno"  class="inputs"></label>
                    <label for="seat_capacity">Seating Capacity:<input type="number" id="capacity" name="capacity"   class="inputs"></label>
                    <label for="Columns">Columns:<input type="number" id="Columns" name="columns"   class="inputs"></label>
               </div>
        `;
    container.appendChild(newFilterInput);
    container.appendChild(document.querySelector('.add'));
    newFilterInput.scrollIntoView({ behavior: 'smooth', block: 'center' });
}

document.querySelector('.add').addEventListener('click', addNewRow);

</script>
    
    

