{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="center-item wh-100 mt-5">
        <div class="form-container2">
            <div class="card">
    
    <form action="">
        <div class="list lines center-item" >
            <div class="d-flex inline-input mb-1">
            <div class="form-control ">
        <label for="exam date" >EXAM DATE </label>
        <select name="" id="">
            <option value="">54578678</option>
            <option value="">5676778</option>
        </select>
        <label for="exam hall">EXAM HALL</label>
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <label for="staff">STAFF</label>
        <select name="" id="">
            <option value="">bofdsbsgvbl</option>
            <option value="">eigfefho</option>
        </select>
            
    </div>
</div>
</div>
       

    </form>
   
</body>
</html>