<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="navbar navbar-secondary">
    <div class="nav">
      <div class="title">Exam Seater</div>
      <ul>
        <li><a class="nav-link" href="register.html">gads</a></li>
        <li>
          <a href="" class="btn btn-sm btn-primary">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Place</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jishnu</td>
            <td>Test</td>
            <td>22</td>
            <td>M</td>
            <td>Kannur</td>
            <td>9061014814</td>
            <td>jishnu@example.com</td>
            <td>
              <a href="" class="btn btn-sm btn-primary">Edit</a>
              <a href="" class="btn btn-sm btn-primary">Add</a>
              <a href="" class="btn btn-sm btn-secondary">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>