{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>
  <body>
    <div class="fill center-item">
      <div class="form-container">
        <div class="card">
          <h1>Reset Password</h1>
          <div class="form">
            <input type="email" placeholder="Email" class="form-control mb-1" />
            <button class="btn btn-primary btn-block mb-05">Reset Password</button>
            <p class="text-end"><a href="/index.html">Back to login</a></p>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
